@charset "utf-8";
/* style.css */

/* Center the entire box */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* Box 1 */
.box1 {
    width: 350px;
    height: 350px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    flex-direction: column;
}

/* Box 2 */
.box2 {
    width: 250px;
    height: 250px;
    padding: 5px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column; 
}

.name {
    margin-top: auto;
}
