body {
    font-family: 'Space Mono', monospace;
    background-color: #f0e5e5;
    color: #E0E0E0;
    margin: 0;
}

.background-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background-container::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.5; 
    z-index: -1;
}

.calculator-container {
    background-color: #0e0e0f;
    padding: 20px;
    margin: auto;
    border: #151515 3px solid;
    box-shadow: 0 0 20px rgba(108, 3, 69, 0.301);
    border-radius: 8px;
    max-width: 600px;
    width: 80%;
    opacity: 0.8; 
}

h1, h2 {
    text-align: center;
    color: #eeedf1;
}


.typing-cursor {
    display: inline-block;
    margin-left: 5px; 
    background-color: #cccad5; 
    width: 9px;
    height: 0.8em; 
    animation: blink-animation 1s steps(2) infinite;
}

@keyframes blink-animation {
    0%, 49% { opacity: 1; }
    50%, 100% { opacity: 0; }
}

.form-group {
    font-size: 14px;
    margin-bottom: 20px;
    text-align: right;
    display: flex;
    flex-wrap: wrap;
}

label {
    flex: 1;
    margin-top: 8px;
    margin-right: 20px;
    color: #EEEEEE;
}

input {
    font-family: "Space Mono", monospace;
    flex: 2;
    width: calc(100% - 10px);
    margin-right: 45px;
    padding: 8px;
    box-sizing: border-box;
    background-color: #cdd0d6;
    border-color:#110579;
    color: #141414;
}

@media screen and (max-width: 768px) {
    .calculator-container {
        width: 90%;
    }
}
